{% block content %}
<table class="table">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Animal</th>
        <th>Price</th>
        <th>Owner ID</th>
        <th>Update</th>
        <th>Delete</th>
    </tr>
{% for pet in pets %}
    <tr>
        <td>{{ pet[0] }}</td>
        <td>{{ pet[1] }}</td>
        <td>{{ pet[2] }}</td>
        <td>{{ pet[3] }}</td>
        <td>{{ pet[4] }}</td>
        <td><a href="{{ url_for('update_pet', id = pet[0]) }}">Edit</a></td>
        <td><a href="{{ url_for('delete_pet', id = pet[0]) }}">Delete</a></td>
    </tr>
{% endfor %}
</table>
{% endblock %}
