{% block content %}
<table class="table">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Phone</th>
        <th>Update</th>
        <th>Delete</th>
    </tr>
{% for owner in owners %}
    <tr>
        <td>{{ owner[0] }}</td>
        <td>{{ owner[1] }}</td>
        <td>{{ owner[2] }}</td>
        <td><a href="{{ url_for('update_owner', id = owner[0]) }}">Edit</a></td>
        <td><a href="{{ url_for('delete_owner', id = owner[0]) }}">Delete</a></td>
    </tr>
{% endfor %}
</table>
{% endblock %}
