{% extends 'base.html' %}
{% block content %}
    <form method="POST">
        {{ form.hidden_tag() }}
        {{ form.p_name.label }}
        {{ form.p_name }}
        <br>
        {{ form.p_animal_type.label }}
        {{ form.p_animal_type }}
        <br>
        {{ form.p_breed.label }}
        {{ form.p_breed }}
        <br>
        {{ form.p_price.label }}
        {{ form.p_price }}
        <br>
        {{ form.p_owner_id.label }}
        {{ form.p_owner_id }}
        <br>
        {{ form.submit }}
    <form>
{% endblock %}
